.produto-detalhes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    padding-top: 40px;
}
.fundo-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-right:1px solid rgba(0, 0, 0, 0.329);
}
.imagem-produto{
    width: 300px;
    height: 400px;
    filter: drop-shadow(rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px);
}

.seçao-desk{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0;
    padding: 2em;
}
.fundo-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    transform: translateY(-30px);
    top:0;
}
.product-name{
    font-weight: bold;
    font-size: 22px;
}
.fundo-preço{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 200px;
    transform: translateX(-31px) translateY(-30px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    margin: 0px;
    padding: 0px;
}

.fundo-preçoesquerdo{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 width: 50%;
 height: 100%;
 margin: 0px;
padding: 0px;
}
.product-price{
    font-weight: bold;
    font-size: 26px;
   
}
.price-parcela{
    font-size: 15px;
    width: 100%;
    font-weight: bold;
    text-align: center;
   
}
.valor-antigo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
  
}
s{
    color: red;    
    font-weight: bold;
    padding: 5px;
}


.fundo-preçodireito{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    height: 100%;
    transform: translateY(8px);
}
#texto-formapag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin-top: 6px;
    color: #0c212d;
    font-size: 18px;
    font-weight: bold;
}
#texto-pag{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: -6px;
    color: #0794d3;
    font-size: 18px;
    font-weight: bold;
}

.fundo-icones{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap; 
}
#produto-infor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}
.produto-infor{
    font-size: 20px;
    margin-top: 5px;
}


.fundo-sinopse{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    padding: 10px;
    border-top: 1px solid  rgba(0, 0, 0, 0.329);
}
#titulo-sinopse{
    font-size: 20px;
    font-weight: bold;
    width: 100%;

}
.product-sinopse{
    width: 100%;
    font-size: 19px;
    word-break:break-all;
}